.dialog-choose__item-title {
    @extend %text-m;
    font-weight: $fontweight_text_bold;
    color: $color_neutral_100;

    margin-bottom: $gap_xs;
    &:last-child {
        margin-bottom: 0;
    }
}
