.linked-fields.linked-fields_edit {
    background-color: $color_neutral_10;

    &:focus-within {
        background-color: $color_primary_10;
        box-shadow: $shadow_m;
    }

    .linked-fields__edit-item {
        display: flex;
    }

    .linked-fields__display-item {
        display: none;
    }

    .linked-fields__bottom-controls {
        display: flex;
    }

    .linked-fields__top-controls {
        > .button {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2),
            &:nth-child(3) {
                display: inline-flex;
            }
        }
    }


}
