.entity-fields {
    @extend %flex-column-hstretch-vstart-nowrap;

    > * {
        margin-bottom: $gap_l;
        &:last-child {
            margin-bottom: 0;
        }
    }

    > .textbox,
    > .dropdown-select {
        width: 100%;
        display: block;
    }

    > .user-avatar {
        margin-left: auto;
        margin-right: auto;
    }
}
