.radio__input {
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    width: 1.43em;
    height: 1.43em;
    background-color: $color_primary_40;
    position: relative;
    border-radius: 50%;
    margin-right: $gap_s;
    &:last-child {
        margin-right: 0;
    }

    &:after {
        display: block;
        content: '';
        width: 45%;
        height: 45%;
        background: $color_neutral_100;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity $animation_speed_m $animation_type;
    }
}
