.modal__main {
    @extend %flex-column-hstart-vstart-nowrap;
    background-color: $color_neutral_20;
    padding: $gap_l 0;
    border-radius: $radius_l;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    width: 55rem;
    max-width: 100%;

    transition: transform $animation_speed_m $animation_type;
}
