mixin entity-fields__expander
    .entity-fields__expander(class!=attributes.class)
        span Дополнительная информация
        +button.button_size_xs.button_transparent.button_no-text
            +icon('chevron-down')
