/********************************************
 * Initialization styles
 ********************************************/

html {
    height: 100%;
    font: $fontweight_text_m 10px $fontfamily_text;
}

body {
    display: flex;

    font-size: $fontsize_text_m;
    font-weight: $fontweight_text_m;

    color: $color_neutral_100;
    background-color: $color_neutral_0;

    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @extend %scrollbar;
}
