/********************************************
 * Initialization styles
 ********************************************/

html {
    height: 100%;
    font: $fontweight_text_m 10px $fontfamily_text;
}

body {
    @extend %flex-column-hcenter-vstart-nowrap;
    @extend %text-m;

    color: $color_neutral_100;
    background-color: $color_neutral_0;

    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @extend %scrollbar;
}

strong,b {
    font-weight: $fontweight_text_bold;
}
