mixin textbox__input
    if attributes.textarea
        textarea.textbox__input(class!=attributes.class placeholder=attributes.placeholder ? attributes.placeholder : "Плейсхолдер")
            = attributes.value
    else
        input.textbox__input(class!=attributes.class type=attributes.type ? attributes.type : "text" placeholder=attributes.placeholder ? attributes.placeholder : "Плейсхолдер" value!=attributes.value)
