include ../common.blocks/**/*.pug
html
    head
        title Draft
        link(rel='stylesheet' type='text/css' href='css/app.css')
    body
        +app
            +utility-container
                +utility-container__header
                    +utility-container__title .button
                +utility-container__body
                    +button Кнопка
                    +button.button_disabled Кнопка отключена
                    +button.button_size_s Малая кнопка
                    +button.button_size_xs Крохотная кнопка
                    +button.button_size_xs.button_disabled Крохотная кнопка отключена
                    +button.button_size_xs.button_transparent Крохотная кнопка отключена
                    +button.button_size_s.button_transparent.button_disabled Крохотная кнопка отключена

                    +button.button_color_secondary Кнопка
                    +button.button_color_secondary.button_disabled Кнопка отключена
                    +button.button_color_secondary.button_transparent Кнопка
                    +button.button_color_secondary.button_transparent.button_disabled Кнопка

                    +button.button_color_neutral-0 Кнопка
                    +button.button_color_neutral-0.button_disabled Кнопка
                    +button.button_color_neutral-0.button_transparent Кнопка
                    +button.button_color_neutral-0.button_transparent.button_disabled Кнопка

                    +button.button_color_neutral-100 Кнопка
                    +button.button_color_neutral-100.button_disabled Кнопка
                    +button.button_color_neutral-100.button_transparent Кнопка
                    +button.button_color_neutral-100.button_transparent.button_disabled Кнопка

                    +button.button_color_secondary.button_size_s Кнопка
                    +button.button_color_secondary.button_disabled.button_size_s Кнопка отключена
                    +button.button_color_secondary.button_transparent.button_size_s Кнопка
                    +button.button_color_secondary.button_transparent.button_disabled.button_size_s Кнопка

                    +button.button_color_neutral-0.button_size_s Кнопка
                    +button.button_color_neutral-0.button_disabled.button_size_s Кнопка
                    +button.button_color_neutral-0.button_transparent.button_size_s Кнопка
                    +button.button_color_neutral-0.button_transparent.button_disabled.button_size_s Кнопка

                    +button.button_color_neutral-100.button_size_s Кнопка
                    +button.button_color_neutral-100.button_disabled.button_size_s Кнопка
                    +button.button_color_neutral-100.button_transparent.button_size_s Кнопка
                    +button.button_color_neutral-100.button_transparent.button_disabled.button_size_s Кнопка

                    +button.button_color_secondary.button_size_xs Кнопка
                    +button.button_color_secondary.button_disabled.button_size_xs Кнопка отключена
                    +button.button_color_secondary.button_transparent.button_size_xs Кнопка
                    +button.button_color_secondary.button_transparent.button_disabled.button_size_xs Кнопка

                    +button.button_color_neutral-0.button_size_xs Кнопка
                    +button.button_color_neutral-0.button_disabled.button_size_xs Кнопка
                    +button.button_color_neutral-0.button_transparent.button_size_xs Кнопка
                    +button.button_color_neutral-0.button_transparent.button_disabled.button_size_xs Кнопка

                    +button.button_color_neutral-100.button_size_xs Кнопка
                    +button.button_color_neutral-100.button_disabled.button_size_xs Кнопка
                    +button.button_color_neutral-100.button_transparent.button_size_xs Кнопка
                    +button.button_color_neutral-100.button_transparent.button_disabled.button_size_xs Кнопка

                    +button
                        +icon('pencil')
                        | Кнопка

                    +button.button_size_s
                        +icon('calendar')
                        | Кнопка

                    +button.button_size_xs
                        +icon('x')
                        | Кнопка

                    +button.button_no-text
                        +icon('calendar')

                    +button.button_no-text.button_rounded
                        +icon('calendar')

                    +button.button_size_s.button_no-text
                        +icon('calendar')

                    +button.button_size_s.button_no-text.button_rounded
                        +icon('calendar')

                    +button.button_size_xs.button_no-text
                        +icon('calendar')

                    +button.button_size_xs.button_no-text.button_rounded.button_color_secondary.button_transparent.button_disabled
                        +icon('calendar')
