extends layouts/layout
append vars
    - pageTitle = 'SignUp'
block app
    +app__wrapper.app__wrapper_page-type_auth
        +logo.logo_size_l
        +form-auth(type='signup')
        block notifications
    +footer
