mixin dialog-choose__items
    ul.dialog-choose__items(class!=attributes.class)
        +dialog-choose__item.dialog-choose__item_active
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
        +dialog-choose__item
            +dialog-choose__item-title ООО "Иванов и партнеры"
            +dialog-choose__item-subtitle ИНН 7711555111 / КПП 770101001
