%dialog-close {
    position: absolute;
    z-index: 99;
    top: $gap_s;
    right: $gap_s;
    cursor: pointer;
    transition: transform $animation_speed_m $animation_type;
    &:hover {
        transform: scale(1.3);
    }
}
