mixin tabs
    .tabs(class!=attributes.class)
        +tabs__head
            each item in attributes.items
                +tabs__tab(class=item.class)= item.title
        +tabs__body
            block
