.utility-container__body {
    @extend %flex-row-vstart-hstart-wrap;
    padding: $gap_l;
    background-color: $color_neutral_20;

    > * {
        margin: 0 $gap_m $gap_m 0;
    }

    > .textbox,
    > .dropdown-select {
        min-width: 40rem;
    }
}
