mixin page-notifications
    .page-notifications(class!=attributes.class)
        +notification
        +notification.notification_color_success
        +notification.notification_color_warning
        +notification.notification_color_error
        +notification
        +notification.notification_color_success
        +notification.notification_color_warning
        +notification.notification_color_error
        +notification
        +notification.notification_color_success
        +notification.notification_color_warning
        +notification.notification_color_error
        +notification
        +notification.notification_color_success
        +notification.notification_color_warning
        +notification.notification_color_error
