.user-avatar.user-avatar_image-set {
    > .button {
        visibility: visible;
    }

    .user-avatar__upload-link {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }

    .user-avatar__wrapper {
        border-color: $color_secondary_100;
    }
}
