.user-avatar__wrapper {
    border: $border_width_m solid $color_secondary_100;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $color_primary_20 resolve('avatar.svg') center no-repeat;
    background-size: cover;
    position: relative;
}
