.textbox.textbox_fixable {
    .textbox__input {
        //Определяем правый отступ по размеру кнопок и отступов между ними
        padding-right: calc($gap_s + ($gap_xs * 2 + $icon_size_xs + $border_width_m * 2) + $gap_xs + $gap_xs);
    }

    &:not(.textbox_fixable_edit) {
        .textbox__wrapper {
            pointer-events: none;
        }

        .textbox__controls {
            pointer-events: all;
        }

        .textbox__input {
            pointer-events: none;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-radius: 0;
            background: transparent;
        }

        .textbox__label {
            background: transparent;
        }
    }

    .textbox__controls {
        .button:nth-child(1) {
            display: inline-flex;
            margin-right: 0;
        }

        .button:nth-child(2),
        .button:nth-child(3) {
            display: none;
        }
    }
}
