@keyframes tab-animation {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}

.tabs__tab {
    @extend %text-l;
    text-align: center;
    font-weight: $fontweight_text_bold;
    color: $color_neutral_80;
    padding: #{$gap_s + $gap_xs} #{$gap_l};
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color $animation_speed_m $animation_type;

    &:hover {
        color: $color_primary_100;
    }

    &:before,
    &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $border_width_m;
    }

    &:before {
        background: $color_neutral_20;
        z-index: 2;
    }

    &:after {
        left: 50%;
        transform: translateX(-150%);
        background: $color_primary_100;
        animation: tab-animation $animation_type $animation_speed_m 1 normal;
        z-index: 3;
    }
}
