.entity-fields__group {
    @extend %flex-column-hstretch-vstart-nowrap;
    width: 100%;

    > * {
        margin-bottom: $gap_m;
        &:last-child {
            margin-bottom: 0;
        }
    }

    > .entity-fields__row {
        margin-bottom: $gap_m - math.div($gap_m, 2);
    }

    > .textbox,
    > .dropdown-select,
    > .datepicker {
        width: 100%;
        display: block;
    }
}
