.textbox.textbox_size_s {
    .textbox__input {
        @extend %text-xs;
        padding: $gap_xs * 1.5;
        border-radius: $radius_s;
    }

    .textbox__label {
        position: relative;
        background: transparent;
        padding: 0;
        left: 0;
        top: 0;
        margin-bottom: $gap_xs;
    }
}
