.button.button_transparent {
    background-color: transparent;
    color: $color_primary_100;

    &:hover {
        background-color: transparent;
        color: $color_primary_80;
        text-shadow: $shadow_m;
    }

    &.button_color_secondary {
        color: $color_secondary_100;
        &:hover {
            color: $color_secondary_80;
        }
    }

    &.button_color_neutral-0 {
        color: $color_neutral_0;
        &:hover {
            color: $color_neutral_20;
        }
    }

    &.button_color_neutral-100 {
        color: $color_neutral_100;
        &:hover {
            color: $color_neutral_80;
        }
    }

    &.button_disabled {
        color: $color_neutral_40;
    }
}
