.button.button_transparent {
    background-color: transparent;
    color: $color_primary_100;

    &:hover {
        background-color: $color_primary_100;
        border-color: $color_primary_100;
        color: $color_neutral_0;
        text-shadow: $shadow_m;
    }

    &.button_color_secondary {
        color: $color_secondary_100;
        &:hover {
            background-color: $color_secondary_100;
            border-color: $color_secondary_100;
            color: $color_neutral_0;
        }
    }

    &.button_color_neutral-0 {
        color: $color_neutral_0;
        &:hover {
            background-color: $color_neutral_0;
            border-color: $color_neutral_0;
            color: $color_neutral_100;
        }
    }

    &.button_color_neutral-100 {
        color: $color_neutral_100;
        &:hover {
            background-color: $color_neutral_100;
            border-color: $color_neutral_100;
            color: $color_neutral_0;
        }
    }

    &.button_color_success {
        color: $color_success_100;
        &:hover {
            background-color: $color_success_100;
            border-color: $color_success_100;
            color: $color_neutral_0;
        }
    }

    &.button_color_error {
        color: $color_error_100;
        &:hover {
            background-color: $color_error_100;
            border-color: $color_error_100;
            color: $color_neutral_0;
        }
    }

    &.button_disabled {
        color: $color_neutral_40;
    }
}
