.radio-group__controls {
    @extend %flex-row-vcenter-hstart-wrap;
    margin: -#{math.div($gap_m, 2)};
    margin-bottom: math.div($gap_m, 2);
    &:last-child {
        margin-bottom: -#{math.div($gap_m, 2)};
    }
}
