.named-filter-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: $gap_m;

    > .named-filter {
        width: auto;
        grid-column-start: auto;
        grid-column-end: span 1;
    }
}
